---
const { pageTitle } = Astro.props;
const pathname = Astro.url.pathname;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Solomon Neas | {pageTitle}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" id="svg-icon" />

    <script>
      let darkmode = false;
      const svgIcon = document.getElementById("svg-icon");

      function random(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
      }

      function applyTheme(inverted, hueRotation) {
        const isInverted = inverted === true || inverted === "true";
        const a = isInverted ? 100 : 0;
        let style = document.getElementById("theme-style");
        if (!style) {
          style = document.createElement("style");
          style.id = "theme-style";
          document.head.append(style);
        }

        style.innerText = `
 #filter { backdrop-filter:hue-rotate(${hueRotation}deg) invert(${a}%); }
 `;

        const svgContent = `<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><rect width='100' height='100' fill='none' /><text x='10' y='65' font-family='"IBM Plex Mono", monospace' font-weight='bold' font-size='70' fill='#e0e0e0'>&gt;_</text><style>svg{filter:hue-rotate(${hueRotation}deg) invert(${a}%25);}</style></svg>`;
        const o = `data:image/svg+xml,${encodeURIComponent(svgContent)}`;
        svgIcon.setAttribute("href", o);
        saveThemeToLocalStorage(isInverted, hueRotation);
      }

      function saveThemeToLocalStorage(inverted, hueRotation) {
        if (!localStorage) return;
        localStorage.setItem("inverted", inverted ? "true" : "false");
        localStorage.setItem("hueRotation", hueRotation);
      }

      function getThemeFromLocalStorage() {
        if (!localStorage) return;
        let inverted = localStorage.getItem("inverted");
        const hueRotation = localStorage.getItem("hueRotation");

        if (inverted === "true") {
          darkmode = true;
        }

        if (hueRotation) {
          applyTheme(inverted, hueRotation);
        }
      }

      document.addEventListener("DOMContentLoaded", () => {
        const btn = document.getElementById("color");
        btn.addEventListener("click", () => {
          darkmode = !darkmode;
          const hue = Math.floor(random(0, 360));
          applyTheme(darkmode, hue);
        });

        getThemeFromLocalStorage();

        const animationStyle = document.createElement("style");
        document.head.append(animationStyle);

        setTimeout(() => {
          animationStyle.innerText = `* {
            transition-property:filter, backdrop-filter;
            transition-duration: 1s;
          }`;
        }, 1);
      });
    </script>
  </head>
  <body>
    <div id="filter"></div>
    <div class="site-wrapper">
      <a href="#main-content" id="skip-link">Skip to content</a>
      <nav>
        <div class="title-container">
          <div class="site-title"><span class="user-host">root@solomon.neas:~#</span></div>
          <button id="color" class="shell-button">./random_theme.sh</button>
        </div>
        <div class="nav-links">
          <ul>
            <li>
              <a href="/" class={pathname === "/" ? "current-link" : ""}>Home</a>
            </li>
            <li>
              <a href="/about" class={pathname.startsWith("/about") ? "current-link" : ""}>About</a>
            </li>
            <li>
              <a href="/opportunities" class={pathname.startsWith("/opportunities") ? "current-link" : ""}>
                Opportunities
              </a>
            </li>
            <li>
              <a href="/projects" class={pathname.startsWith("/projects") ? "current-link" : ""}>Projects</a>
            </li>
            <li>
              <a href="/resources" class={pathname.startsWith("/resources") ? "current-link" : ""}>Resources</a>
            </li>
            <li>
              <a href="/blog" class={pathname.startsWith("/blog") ? "current-link" : ""}>Blog</a>
            </li>
            <li><a href="/rss.xml" target="_blank">RSS</a></li>
            <li>
              <a href="/contact" class={pathname.startsWith("/contact") ? "current-link" : ""}>Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <main id="main-content">
        <slot />
      </main>
      <footer id="footer">
        {
          pathname.startsWith("/blog/") && (
            <div class="text-center" style="margin-bottom: 2rem;">
              <a href="/blog" class="text-lg text-blue-500 hover:underline">
                Back to Blog
              </a>
            </div>
          )
        }
        <div class="nav-links footer-links">
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/solomon-neas/" target="_blank" aria-label="LinkedIn">
                <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z">
                  </path>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://github.com/solomonneas" target="_blank" aria-label="GitHub">
                <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    fill="currentColor"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8">
                  </path>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://x.com/solomonneas" target="_blank" aria-label="X (formerly Twitter)">
                <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932L18.901 1.153ZM17.61 20.644h2.039L6.486 3.24H4.298L17.61 20.644Z">
                  </path>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://bsky.app/profile/sn-dot-dev.bsky.social" target="_blank" aria-label="Bluesky">
                <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    fill="currentColor"
                    d="M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616c.725-1.498 2.698-4.29 4.532-5.668C13.855.955 16 .186 16 2.632c0 .489-.28 4.105-.444 4.692-.572 2.04-2.653 2.561-4.504 2.246 3.236.551 4.06 2.375 2.281 4.2-3.376 3.464-4.852-.87-5.23-1.98-.07-.204-.103-.3-.103-.218 0-.081-.033.014-.102.218-.379 1.11-1.855 5.444-5.231 1.98-1.778-1.825-.955-3.65 2.28-4.2-1.85.315-3.932-.205-4.503-2.246C.28 6.737 0 3.12 0 2.632 0 .186 2.145.955 3.468 1.948">
                  </path>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://substack.com/@solomonneas?" target="_blank" aria-label="Substack">
                <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 511.471">
                  <path
                    fill="currentColor"
                    d="M0 0h448v62.804H0V0zm0 229.083h448v282.388L223.954 385.808 0 511.471V229.083zm0-114.542h448v62.804H0v-62.804z">
                  </path>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://linktr.ee/solomonneas" target="_blank" aria-label="Linktree">
                <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m13.73635 5.85251 4.00467 -4.11665 2.3248 2.3808 -4.20064 4.00466h5.9085v3.30473h-5.9365l4.22865 4.10766 -2.3248 2.3338L12.0005 12.099l-5.74052 5.76852 -2.3248 -2.3248 4.22864 -4.10766h-5.9375V8.12132h5.9085L3.93417 4.11666l2.3248 -2.3808 4.00468 4.11665V0h3.4727zm-3.4727 10.30614h3.4727V24h-3.4727z">
                  </path>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:srneas@gmail.com" aria-label="Email">
                <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099l3.824-3.099 5.441 6.812h-18.53l5.441-6.812zm9.201-1.259l4.623-3.746v9.458l-4.623-5.712z">
                  </path>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://ko-fi.com/solomonneas" target="_blank" aria-label="Ko-fi">
                <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M23.881 8.948c-.773-4.085-4.859-4.593-4.859-4.593H.723c-.604 0-.679.798-.679.798s-.082 7.324-.022 11.822c.164 2.424 2.586 2.672 2.586 2.672s8.267-.023 11.966-.049c2.438-.426 2.683-2.566 2.658-3.734 4.352.24 7.422-2.831 6.649-6.916zm-11.062 3.511c-1.246 1.453-4.011 3.976-4.011 3.976s-.121.119-.31.023c-.076-.057-.108-.09-.108-.09-.443-.441-3.368-3.049-4.034-3.954-.709-.965-1.041-2.7-.091-3.71.951-1.01 3.005-1.086 4.363.407 0 0 1.565-1.782 3.468-.963 1.904.82 1.832 3.011.723 4.311zm6.173.478c-.928.116-1.682.028-1.682.028V7.284h1.77s1.971.551 1.971 2.638c0 1.913-.985 2.667-2.059 3.015z">
                  </path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
