---
const { pageTitle } = Astro.props;
const pathname = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Solomon Neas | {pageTitle}</title>
    <link rel="icon" type="image/svg+xml" href="/icon.svg" id="svg-icon" />

    <link rel="stylesheet" href="/styles/global.css">

    <script>
      let darkmode = false;
      const svgIcon = document.getElementById("svg-icon");

      function random(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
      }

      function applyTheme(inverted, hueRotation) {
        const a = inverted ? 100 : 0;
        const style = document.createElement("style");
        document.head.append(style);

        style.innerText = `
 #filter { backdrop-filter:hue-rotate(${hueRotation}deg) invert(${a}%); }
 `;

        const o = `data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 8\'%3E%3Cpath fill=\'%23655a3d\' d=\'M7.68.77A.77.77 0 0 0 6.91 0H.77A.77.77 0 0 0 0 .77V6.9c0 .43.34.77.77.77H6.9c.43 0 .77-.34.77-.77V.77Z\'/><path fill=\'%23fff2d1\' d=\'M1.44 6.72v-.27c.2-.01.35-.06.43-.15.07-.08.12-.2.12-.35l.02-.51V1.57l.02-.28-.59.03V.96h1.85v.27c-.2 0-.34.05-.42.14a.55.55 0 0 0-.13.36l-.02.51V3.6h.62l1.03-1.62a4.87 4.87 0 0 1 .58-.69 4.15 4.15 0 0 1-.5.02V.96h1.77v.27c-.23.02-.44.06-.62.12s-.35.16-.52.31c-.16.15-.34.38-.52.68l-.8 1.29c.15.09.28.2.38.32l.3.38.92 1.22c.2.28.38.48.51.6.13.14.26.22.36.25.11.03.22.05.34.05v.27h-1c-.06 0-.14-.04-.23-.11a19.93 19.93 0 0 1-.61-.7l-.99-1.33-.3-.39a1.53 1.53 0 0 0-.31-.28l-.4.01v1.82a19.9 19.9 0 0 1-.03.65l.6-.03v.36H1.43Z\'/><style>svg{filter:hue-rotate(${hueRotation}deg) invert(${a}%25);}</style></svg>`;
        svgIcon.setAttribute("href", o);
        saveThemeToLocalStorage(inverted, hueRotation);
      }

      function saveThemeToLocalStorage(inverted, hueRotation) {
        if (!localStorage) return;
        localStorage.setItem("inverted", inverted ? "true" : "false");
        localStorage.setItem("hueRotation", hueRotation);
      }

      function getThemeFromLocalStorage() {
        if (!localStorage) return;
        let inverted = localStorage.getItem("inverted");
        const hueRotation = localStorage.getItem("hueRotation");

        if (inverted === "true") {
          darkmode = true;
        }

        if (hueRotation) {
          applyTheme(inverted, hueRotation);
        }
      }

      document.addEventListener('DOMContentLoaded', () => {
        const btn = document.getElementById("color");
        btn.addEventListener("click", () => {
          darkmode = !darkmode;
          const hue = Math.floor(random(0, 360));
          applyTheme(darkmode, hue);
        });

        getThemeFromLocalStorage();

        const animationStyle = document.createElement("style");
        document.head.append(animationStyle);

        setTimeout(() => {
          animationStyle.innerText = `* {
            transition-property:filter, backdrop-filter;
            transition-duration: 1s;
          }`
        }, 1);
      });
    </script>
  </head>
  <body>
    <div id="filter"></div>
    <div class="site-wrapper">
      <a href="#main-content" id="skip-link">Skip to content</a>
      <nav>
        <div class="title-container">
          <div class="serif site-title">Solomon Neas</div>
          <button id="color" class="button">random theme</button>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="/" class={pathname === "/" ? "current-link" : ""}>Home</a></li>
            <li><a href="/about" class={pathname.startsWith("/about") ? "current-link" : ""}>About</a></li>
            <li><a href="/opportunities" class={pathname.startsWith("/opportunities") ? "current-link" : ""}>Opportunities</a></li>
            <li><a href="/projects" class={pathname.startsWith("/projects") ? "current-link" : ""}>Projects</a></li>
            <li><a href="/resources" class={pathname.startsWith("/resources") ? "current-link" : ""}>Resources</a></li>
            <li><a href="/blog" class={pathname.startsWith("/blog") ? "current-link" : ""}>Blog</a></li>
            <li><a href="/rss.xml" target="_blank">RSS</a></li>
            <li><a href="/contact" class={pathname.startsWith("/contact") ? "current-link" : ""}>Contact</a></li>
          </ul>
        </div>
      </nav>
      <main id="main-content">
        <slot />
      </main>
      <footer id="footer">
        <div id="kofi">
          <a href="https://ko-fi.com/solomonneas" class="kofi-button">
            <img
              src="/ko-fi.png"
              alt=""
              width="22px"
              height="15px"
            />
             Buy me a coffee
          </a>
        </div>
        <div class="nav-links footer-links">
          <ul>
            <li><a href="https://www.linkedin.com/in/solomon-neas/" target="_blank">LinkedIn</a></li>
            <li><a href="https://x.com/solomonneas" target="_blank">X</a></li>
            <li><a href="mailto:srneas@gmail.com">Email</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
